
.NewCollection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 50px;
  height: 160vh;
  margin-bottom: 100px;
}
.NewCollection h1 {
  color: black;
  font-size: 50px;
  font-weight: 600;
}
.NewCollection hr {
  width: 200px;
  height: 3px;
  border-radius: 200px;
  background-color: rgb(255, 0, 0);
}
.Collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    margin-top: 50px;
    gap: 30px;
}
