/* * {
  border: 2px solid black;
  margin: 0px;
  padding: 0px;
} */
.Hero{
  height: 100vh;
  background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
  display: flex;
}
.Hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 180px;
  line-height: 1.1;
}
.Hero-left h2{
    color: #090909;
    font-weight: 600;
    font-size: 26px;
}
.Hero-left p{
    color: #171717;
    font-size: 100px;
    font-weight: 700;
}
.Hero-hand-icon {
    display: flex;
    justify-content: start;
    gap: 20px;
}

.Hero-hand-icon img {
    height: 10vh;
    width: 10%;
}
.Hero-Latest-Button button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background-color: red;
    color: rgb(255, 255, 255);
    font-size: 27px;
    font-weight: 500;
}
.Hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Hero-right img{
  height: 90vh;
}