/* * {
  border: 2px solid black;
} */
.Item {
  height: 75vh;
}
.Item p {
  margin: 6px 0px;
}
.Item-price {
  display: flex;
  gap: 20px;
}
.Item-price_New {
  color: #344151;
  font-size: 18px;
  font-weight: 600;
}
.Item-Price-Old {
  columns: #8c8c8c;
  font-size: 18px;
  font-weight: 500;
  text-decoration: line-through;
}
.Item:hover {
  transform: scale(1.05);
  transition: 0.6s;
}
