* {
  /* border: 2px solid black; */
  margin: 0px;
  padding: 0px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 16px;
  height: 14vh;
  box-shadow: 0 1px 3px -2px black;
}
.navbar img {
  width: 10vh;
}
.nav-logo {
  display: flex;
  align-items: center; /* centers text and image vertically */
  gap: 10px; /* space between image and text */
}
.navbar p {
  color: black;
  font-size: 32px;
  font-weight: 300;
  text-shadow: 0px 0px 1px 1px black;
font-family: "Poppins", sans-serif;
}
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  color: black;
  font-size: 17px;
  font-weight: 400;
}
.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3px;
}
.nav-menu hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background-color: red;
}
.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 45px;
}
.nav-login-cart img {
  height: 5vh;
  width: 100%;
}
.nav-login-cart button {
  width: 157px;
  height: 58px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  color: #515151;
  font-size: 20px;
  font-weight: 500;
  background: white;
  cursor: pointer;
}
.nav-login-cart button:active {
  background: #f3f3f3;
}
.nav-cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -55px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;
}
