
.Offers {
  width: 65%;
  height: 60vh;
  display: flex;
  margin: auto;
  padding: 0px 140px; 
  margin-bottom: 100px;
  background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
box-shadow: 2px 2px 2px 0px rgb(0, 0, 0);
}

.Offers-Left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Offers-Left h1 {
  color: black;
  font-size: 60px;
  font-weight: 400;
}
.Offers-Left p {
  color: black;
  font-size: 20px;
  font-weight: 300;
}
.Offers-Left button {
  width: 282px;
  height: 70px;
  border-radius: 50px;
  border: none;
  background-color: rgb(255, 0, 0);
  font-weight: 500;
  margin-top: 30px;
  cursor: pointer;
  box-shadow: 0px 0px 4px 1px black;
  color: white;
}
.Offers-Right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Offers-Rigit img {
  height: 60vh;
  
}
